body{
    margin: 0;
    padding: 0;
    
}

.navHistorial{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    margin: 0;
    align-content: flex-start;
}

.contHistorial{
    padding: 1rem;
}